<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tech Blog</title>
  <link rel="stylesheet" type="text/css" href="/css/jass.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
  <header>
    <h1>The Tech Blog</h1>
  </header>
  <nav>
    <a href="/">Home</a>
    {{#if loggedIn}}
    <button id="logout" class="btn-no-style">Logout</button>
    <button id="logout" class="btn-no-style">Dashboard</button>
    {{else}}
    <a href="/login">Login</a>
    {{/if}}
  </nav>
  <main>
    <div class="gallery">
      {{#if loggedIn}}
      <form id="comment-form">
            <div>
              <div>
              <input type="text" id="title" />
            </div>
            <div>
              <p>Title</p>
            </div>
              <input type="text" id="content" />
            </div>
            <div>
              <button type="submit">Create new Post</button>
            </div>
      </form>
      {{/if}}
      {{{body}}}
    </div>
  </main>
  {{#if loggedIn}}
  <script src="/js/newPost.js"></script>
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>